
.center-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-col-d {
    display: table-cell;
}
.p-col-m {
    display: none;
}
@media screen and (max-width: 1256px) {
    .p-col-d {
        display: none;
    }
    .p-col-m {
        display: inline-block;
    }
}

.lightbox-demo .p-lightbox-image-target {
    margin-right: .5em;
    & img {
        width: 24%;
        height: 300px;
        padding: .5rem;
        @include media-breakpoint-down(xs) {width: 100%;}
        @include  media-breakpoint-between (xs, sm) {width: 45%;height: 200px;}
    }
}

.p-lightbox-content {
    & img {
        width: 800px !important;
        height: 500px !important;
    }
}